<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <p>DAGS</p>
                <p>Desarrolladora</p>
            </td>
            <td>
                <img src="../../assets/images/jugar-con-mascota.png" width="100" height="100">
            </td>
            <td>
                <ul>
                    <li>dags@live.com.mx</li>
                    <li>2721948285</li>
                    <li>Orizaba</li>
                    <li>@dags</li>
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>